#header{
    width: 100%;
    
}

.navbar{
    border-top: 1.5rem solid orangered;
}

#NavBarBottom{
    height: 1.5rem;
    color: orangered;
    background-color: orangered;
    margin-bottom: 2rem;
}